.doctor {
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  margin: 20px auto;
  box-shadow: var(--box-shadow);
}

.doctor--late {
  background-color: rgb(120, 20, 4);
  color: rgb(245, 180, 162);
}

.doctor--soon {
  background-color: rgb(130, 59, 9);
  color: rgb(245, 216, 162);
}


.doctor__title {
  margin: 0 0 10px;
  border-bottom: solid 2px #d1dbd7;
  display: flex;
  justify-content: space-between;
}

.doctor--late>.doctor__title {
  border-color: rgb(245, 180, 162);
}

.doctor--soon>.doctor__title {
  border-color: rgb(245, 216, 162);
}

.doctor--inactive {
  color: var(--whiteDark-color);
  background-color: var(--blackLight-color);
}

.doctor--inactive a {
  color: var(--white-color);
}

.doctor--inactive a:hover {
  color: var(--light-color);
}

.doctor__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.doctor__icon {
  color: var(--main-color);
  font-size: 34px;
  cursor: pointer;
}

.doctor__icon:hover {
  color: var(--mainDark-color);
}

.doctor__icon--inactive {
  color: #bbbbbb;
}

.doctor__icon--inactive:hover {
  color: var(--white-color);
}

@media (prefers-color-scheme: light) {
  .doctor {
    background-color: var(--whiteDark-color);
    color: var(--black-color);
    box-shadow: var(--box-shadow);
  }

  .doctor__title {
    margin: 0 0 10px;
    border-bottom: solid 2px var(--black-color);
  }

  .doctor--inactive {
    color: var(--blackLight-color);
    background-color: var(--graySuperLight-color);
  }

  .doctor--inactive a:hover {
    color: var(--whiteDark-color);
  }

  .doctor--late {
    background-color: rgb(245, 180, 162);
    color: rgb(120, 20, 4);
  }

  .doctor--soon {
    background-color: rgb(245, 216, 162);
    color: rgb(130, 59, 9);
  }

  .doctor--late>.doctor__title {
    border-color: rgb(120, 20, 4);
  }

  .doctor--soon>.doctor__title {
    border-color: rgb(130, 59, 9);
  }
}
