.testButton {
  background-color: var(--warning_Mid-Dark-color);
  font-size: 1.5rem;
  margin-top: 5px
}

.testButton:hover {
  background-color: var(--warning_Hard-Dark-color)
}

@media (prefers-color-scheme: light) {
  .testButton {
    background-color: var(--warning_Hard-Dark-color)
  }

  .testButton:hover {
    background-color: var(--warning_Mid-Dark-color)
  }


}
