.appointment {
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 10px;
  padding: 5px 15px 10px;
  margin: 20px auto;
  box-shadow: var(--box-shadow);
}

.appointment--today {
  background-color: var(--warning_Hard-Dark-color);
  color: var(--warning_Hard-Light-color)
}

.appointment--tomorrow {
  background-color: var(--warning_Mid-Dark-color);
  color: var(--warning_Mid-Light-color);
}

.appointment__title {
  margin: 7px;
}

@media (prefers-color-scheme: light) {
  .appointment {
    background-color: var(--whiteDark-color);
    color: var(--black-color);
  }

  .appointment--today {
    background-color: var(--warning_Hard-Light-color);
    color: var(--warning_Hard-Dark-color);
  }

  .appointment--tomorrow {
    background-color: var(--warning_Mid-Light-color);
    color: var(--warning_Mid-Dark-color);
  }
}
