.appointment {
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 10px;
  padding: 5px 15px 10px;
  margin: 20px auto;
  box-shadow: var(--box-shadow);
}

.appointment--today {
  background-color: rgb(120, 20, 4);
  color: rgb(245, 180, 162);
}

.appointment--tomorrow {
  background-color: rgb(130, 59, 9);
  color: rgb(245, 216, 162);
}

.appointment__title {
  margin: 7px;
}

@media (prefers-color-scheme: light) {
  .appointment {
    background-color: var(--whiteDark-color);
    color: var(--black-color);
  }

  .appointment--today {
    background-color: rgb(245, 180, 162);
    color: rgb(120, 20, 4)
  }

  .appointment--tomorrow {
    background-color: rgb(245, 216, 162);
    color: rgb(130, 59, 9);
  }
}
