.addDoctorForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addDoctorForm__column {
  display: flex;
  flex-direction: column;
}

.addDoctorForm__column>label {
  text-align: left;
}

.addDoctorForm__input {
  border: solid 2px var(--gray-color);
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 7px;
}

.addDoctor__autoComplete>input {
  width: 100%;
  border: solid 2px var(--white-color);
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 7px;
}

.addDoctorForm__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.addDoctorForm__input,
input.p-inputtext {
  background-color: var(--blackLight-color);
  border-color: var(--blackLight-color);
  box-shadow: var(--box-shadow)
}

.p-autocomplete-item {
  padding: 5px;
}

.p-autocomplete-item:hover {
  color: var(--lightGreen-color);
}

.p-autocomplete-panel {
  padding: 0 7px;
}

.p-autocomplete-items {
  border-top: 0;
  border-radius: 0 0 5px 5px;
  background-color: var(--gray-color);
  box-shadow: var(--box-shadow);
}

@media (prefers-color-scheme: light) {

  .addDoctorForm__input,
  input.p-inputtext {
    background-color: var(--white-color);
    border-color: var(--white-color);
  }

  .p-autocomplete-items {
    background-color: var(--grayLight-color);
  }

  .p-autocomplete-item:hover {
    color: var(--main-color);
  }

}
