:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-color: #fff8f8;
  --light-color: #d1dbda;
  --main-color: #09ac96;
  /*18b8a3*/

  --mainDark-color: #008674;

  --dark-color: #054444;
  /*#115b3c*/

  --box-shadow: 0 0 10px #0003;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
input[type="submit"] {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  border: 0;
  box-shadow: var(--box-shadow);
}

button:hover,
input[type="submit"]:hover {
  color: var(--main-color)
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-color);
    background-color: var(--light-color);
  }

  a {
    color: var(--white-color);
  }

  a:hover {
    color: var(--dark-color);
  }

  button,
  input[type="submit"] {
    background-color: #f9f9f9;
    color: var(--dark-color)
  }
}

.onClick__style {
  cursor: pointer;
}
