:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white-color: #F9FCFB;
  --light-color: #d1dbda;
  --lightGreen-color: #35e6ce;
  --mainLight-color: #09ac96;
  /* nice shades of blue -> #094, #1f82ac*/
  --main-color: #008674;
  --mainDark-color: #054444;
  --mainSuperDark-color: #012929;
  /*#115b3c*/
  --whiteDark-color: #e9e9e9;
  --graySuperLight-color: #cfcfcf;
  --grayLight-color: #c5c5c5;
  --gray-color: #5e5e5e;
  --blackLight-color: #3F3F3F;
  --black-color: #242424;
  --blackDark-color: #111111;
  /*18b8a3*/

  --box-shadow: 0 0 10px #0003;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--blackDark-color);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

a {
  color: var(--mainLight-color)
}

a:hover {
  color: var(--main-color)
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
input[type="submit"] {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  border: 0;
  box-shadow: var(--box-shadow);
}

button,
input[type='submit']:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: #ccc;
  color: #666;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.title__logo {
  height: 3rem;
}

.onClick__style {
  cursor: pointer;
}

.animation__data {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  max-height: 500px;
  transition:
    max-height 0.7s ease-in-out
}

.animation__data--hidden {
  max-height: 0;
  transition:
    max-height 0.7s ease-in-out
}


@media (prefers-color-scheme: light) {
  :root {
    color: var(--black-color);
    background-color: var(--light-color);
  }

  a {
    color: var(--main-color);
  }

  a:hover {
    color: var(--mainLight-color);
  }

  button,
  input[type="submit"] {
    background-color: var(--main-color);
    color: var(--white-color)
  }
}
