.doctorList__newDoctor {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  border: 0;
  background-color: var(--white-color);
  color: var(--mainDark-color);
  font-size: 1.5rem;
  box-shadow: var(--box-shadow);
}

.doctorList__newDoctor:hover,
.doctorList__newDoctor:active {
  background-color: var(--mainDark-color);
  color: var(--white-color);
}
